<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufabc.kleinzanin.homemarket" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReceitasDetails"
            android:label="@string/title_activity_receita_details" >
        </activity>
        <activity
            android:name=".ReceitasInsert"
            android:label="@string/title_activity_receitas_insert" >
        </activity>
        <activity
            android:name=".model.ReceitasEdit"
            android:label="@string/title_activity_receitas_edit" >
            android:name=".Despensa"
            android:label="@string/title_activity_despensa"
            android:parentActivityName=".MenuPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufabc.kleinzanin.homemarket.MenuPrincipal" />
        </activity>
        <activity
            android:name=".DespensaListFragment"
            android:label="@string/title_activity_despensa_list_fragment" >
        </activity>
        <activity
            android:name=".MercadoMain"
            android:label="@string/title_activity_mercado_main" >
        </activity>
        <activity
            android:name=".DespensaDetailFragment"
            android:label="@string/title_activity_despensa_detail_fragment" >
        </activity>
        <activity
            android:name=".ProdutoInsert"
            android:label="@string/title_activity_produto_insert" >
        </activity>
        <activity
            android:name=".MercadoListFragment"
            android:label="@string/title_activity_mercado_list_fragment" >
        </activity>
        <activity
            android:name=".MercadoDetails"
            android:label="@string/title_activity_mercado_details" >
        </activity>
        <activity
            android:name=".MercadoDetailFragment"
            android:label="@string/title_activity_mercado_detail_fragment" >
        </activity>
    </application>

</manifest>
