<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufabc.kleinzanin.homemarket" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReceitasMain"
            android:label="Receitas"
            android:parentActivityName=".MenuPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufabc.kleinzanin.homemarket.MenuPrincipal" /></activity>
        <activity
            android:name=".ReceitasDetails"
            android:label="@string/title_activity_receita_details"
            android:parentActivityName=".ReceitasMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufabc.kleinzanin.homemarket.ReceitasMain" />
        </activity>
        <activity
            android:name=".ReceitasInsert"
            android:label="@string/title_activity_receitas_insert"
            android:parentActivityName=".ReceitasDetails" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufabc.kleinzanin.homemarket.ReceitasDetails" />
        </activity>
        <activity
            android:name=".ReceitasEdit"
            android:label="@string/title_activity_receitas_edit" >
        </activity>
        <activity
            android:name=".Despensa"
            android:label="@string/title_activity_despensa"
            android:parentActivityName=".MenuPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ufabc.kleinzanin.homemarket.MenuPrincipal" />
        </activity>
        <activity
            android:name=".ProdutoInsert"
            android:label="@string/title_activity_produto_insert"
            android:parentActivityName=".Despensa" >
        </activity>
        <activity
            android:name=".DespensaDetailFragment"
            android:label="Detail" />
        <activity
            android:name=".ProdutoDetail"
            android:label="@string/title_activity_produto_detail"
            android:parentActivityName=".Despensa" >
        </activity>
        <activity
            android:name=".ProdutoEdit"
            android:label="@string/title_activity_produto_edit"
            android:parentActivityName=".ProdutoDetail" >
        </activity>
    </application>

</manifest>
